.bodyContainer {
  background-color: white;
  color: black;
  height: 2475px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  .carouselWrapper {
    overflow-x: auto;
    margin-left: 20px;
  }
  
  .carouselScroll {
    display: flex;
    flex-direction: row;
    gap: 12px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .carouselScroll > * {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-bottom: 15px;
  }
  
  .carouselHeader {
    padding-bottom: 10px;
  }

  .sectionHeader {
    padding-top: 40px;
    margin-left: 20px;

  }

  .seeMore {
    color: #2b4570;
    cursor: pointer;
  }

  .subtitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-right: 20px;
  }
  
  .eventCardContainer {
    display: flex;
    flex-wrap: wrap;       
    gap: 10px;     
    margin-right: 20px;
    margin-left: 20px;     
    cursor: pointer;
  }


  .quadrantCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
  }

  
