.pageContainer {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notificationTitle {
  color: black;
  margin-left: 20px;
  font-size: 1.9375rem;
}

.notificationContainer {
  background-color: white;
}

