.toggleContainer{
    display: flex;
    width: 401px;
    height: 94px;
    background-color: #E4E4E4;
    border-radius: 5px;
    margin: 0;
    align-items: center;
    padding: 25px;
}

.toggleLabel{
    color: black;
    font-size: 1.25rem;
}

.toggleSwitch {
    width: 65px;
    height: 34px;
    background: #ccc;
    border-radius: 34px;
    cursor: pointer;
    position: relative;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    margin-left: 175px
}
.toggleSlider {
    height: 26px;
    width: 26px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    transition: transform 0.3s;
}
.toggleSwitch.active {
    background-color: #4caf50;
}
.toggleSwitch.active .toggleSlider {
    transform: translateX(26px);
}

/* Dark mode for the whole page */
body.dark-mode {
    background: #222 !important;
    color: #eee !important;
}