.header {
    max-width: 440px;
    height: 2rem;
    background-color: #2B4570;
    gap: 4rem;
}

.locationmenu {
    display: flex;
    flex-direction: row;
    gap: 11px;
}

.sideicon {
    display: flex;
    flex-direction: row;
    gap: 11px;
}