@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lexend", sans-serif;
}

h1{
  font-size: 39px;
}

h2{
  font-size: 31px;
}

h3{
  font-size: 25px;
}

h4{
  font-size: 20px;
}

p{
  font-size: 16px;
}

caption{
  font-size: 14px;
}

.bold{
  font-weight: 700;
}