.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 100%;
}

.normal {
  width: 400px;
  height: 271px;
}

.normal .imageWrapper {
  flex: 0 0 60%;
  padding-bottom: 25%;
}


.small {
  width: 190px;
  height: 200px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.image {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px;
  line-height: 1.2;
  flex: 1;
}

.text {
  flex: 1;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.subtitle {
  font-size: 0.875rem;
  color: #666;
  margin: 0.25rem 0 0;
  white-space: pre-line;
}

.bookmark {
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 1000;
}

.bookmark:hover {
  transform: scale(1.1);
}

.description {
  font-size: 0.85rem;
  color: #888;
  margin-top: 0.5rem;
  margin-bottom: 0;
  line-height: 1.3;
}
