.navContainer {
  display: flex;
  justify-content: space-around; /* Space out the items evenly */
  align-items: center;
  background-color: #2B4570; /* Dark blue background */
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 440px;
  margin: 0 auto;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.navItem img {
  width: 35px;
  height: 35px;
  margin-bottom: 5px; /* Space between the icon and the label */
}

.navItem:hover img {
  transform: scale(1.1); /* Enlarge the image on hover */
}
