.contrastContainer, .fontContainer {
  width: 401px;
  height: 100px;
  background: #e4e4e4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18px auto
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 8px;
}

.iconBtn {
  cursor: pointer;
  margin: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  font-size: 1.15rem;
  color: #212325;
  min-width: 50px;
  text-align: center;
  background-color: #8A8A8A;
  border-radius: 50%;
  padding: 10px;
}

.resetBtn {
  width: 100%;
  background: #a0a0a0;
  color: #222;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 0 0 8px 8px;
  padding: 5px;
}

.subtitles{
  margin-top: 20px;
  margin-bottom: -20px;
  margin-left: 20px;
  margin: 20px 0px -20px 20px;
  color: #212325;
  font-size: 1.25rem;
}