.pageContainer {
  background-color: white;
  min-width: 440px;
  min-height: 956px;
}
.settingsTitle {
  font-size: 1.9375rem;
  color: black;
  align-items: left;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 20px;
}
.settingsContainer {
  background: white;
}
.deleteAccount {
  font-size: 1.25rem;
  color: #FF4040;
  align-items: left;
  margin-left: 30px;
}

