.reminderCard {
  background-color: #eaecf1;
  border-radius: 30px;
  padding: 10px 13px;
  width: 290px;
  height: 83px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.reminderCard:hover {
  background-color: #d5dced;
}

.reminderCard:active {
  background-color: #e7edff;
}

.reminderContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iconRow {
  display: flex;
  align-items: center;
}
.bellIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.reminderText {
  font-size: 16px;
  font-weight: 600;
  color: #212325;
}

.arrowIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.surveyText {
  font-size: 14px;
  color: #212325;
  line-height: 1;
}
