.reminderCard {
  display: flex;
  flex-direction: column;
  background: #eaecf1;
  border-radius: 30px;
  padding: 12px 28px;
  width: 293px;
  height: 83px;
  box-shadow: none;
  margin: auto;
}

.iconRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.bellIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reminderText {
  font-weight: 600;
  font-size: 20px;
  color: #212325;
  margin-left: 4px;
  margin-right: 4px;
}

.arrowIcon {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.surveyText {
  color: #212325;
  font-size: 15px;
  font-weight: 400;

  margin-bottom: 2px;
}

.surveyLink {
  font-weight: 500;
}
