.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b4570;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 440px;
  margin: 0 auto;
  z-index: 1100;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  width: 20%;

  margin-right: 5px;
  margin-right: 5px;
}

.navItem.active::before {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: white;
  position: absolute;
  top: -10px;
  border-radius: 20px;
}

.navItem img {
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
}

.navItem:hover img {
  transform: scale(1.1);
}
