.pageContainer{
    background-color: white;
    width: 440px;
    height: 900px;
    transition: background-color 0.3s ease;
}

:global(.dark-mode) .pageContainer {
    background-color: #17191A;
}

.accessibilityTitle{
    color: #2d4063;
    margin: 0 auto;
    padding: 30px 10px;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    transition: color 0.3s ease;
}

:global(.dark-mode) .accessibilityTitle {
    color: #ffffff;
}

.darkModeContainer{
    margin: 0;
    padding-left: 20px
}

.headerRow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #FAFAFA;
    transition: background-color 0.3s ease;
}

.headerRow img {
    cursor: pointer;
    position: absolute;
    left: 16px;
}

:global(.dark-mode) .headerRow {
    transition: background-color 0.3s ease;
    background-color: #17191A;
}

:global(.dark-mode) .headerRow img {
    filter: brightness(0) invert(1);
}

